html {
    min-height: 110%;
}

.gametable td {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    border: 3px solid #333;
}

.gametable .value-0
{
    background: black;
}

.gametable .value-1
{
    background: #007bff;
}

.gametable .value-2
{
    background: #ffc107;
}

.gametable .marked-1::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #000;
    background: white;
    margin-left: 12.5px;
    margin-top: -12.5px;
}

.mt-30 {
    margin-top: 30px
}

.gametable thead tr {
    height: 40px;
}

button.btn.btn-primary.game-add-btn:hover::before {
    height: 600px;
}

button.btn.btn-primary.game-add-btn::before {
    content: "";
    position: absolute;
    margin-top: 30px;
    margin-left: -14px;
    width: 60px;
    height: 0px;
    background: rgba(255, 255, 255, 0.25);
}

.highscore-table {
    width: 100%;
    color: #007bff;
}

.score-table {
    width: 100%;
}

.score-total {
    margin-top: 15px;
    font-weight: bold;
}

.status-1
{
    color: #007bff;
}

.status-2
{
    color: #28a745;
}

.status-3
{
    color: #dc3545;
}
.status-4
{
    color: #ffc107;
}