.gametable td {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    border: 3px solid #333;
}

.gametable .value-0
{
    background: black;
}

.gametable .value-1
{
    background: yellow;
}

.gametable .value-2
{
    background: red;
}