{% extends 'index.html' %}


{% block head %}
    Game

{% endblock %}

    
{% block title %}
4 Op een rij!
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-md-6">
        <table class="gametable">
            <thead>
                <tr> 
                    <form action="/game/{{score.id}}" id="auto-submit" method="POST">
                        <input type="hidden" name="column" id="columnId" value="">
                        {%for i in range(score.width)%}
                            <th>
                                {% if table.Table[0][i].value == 0 and score.status == 1 %}
                                    <button type="button" value="Add" onclick="setColumn({{i}})" name="{{i}}" class="btn btn-primary game-add-btn">Add</button>  
                                {% endif %}
                            </th>
                        {% endfor %}
                    </form>    
                </tr>
            </thead>
            <tbody>
                {%for row in range(score.height)%}
                    <tr>
                        {%for col in range(score.width)%}
                            <td class="value-{{table.Table[row][col].value}} marked-{{table.Table[row][col].marked}}"></td>
                        {%endfor%}
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>{{score.name}}</h3>
            </div>
            <div class="card-body">
                <table style="width: 100%">
                    <tr>
                        <td><h3>Status</h3></td>
                        <td class="status-{{score.status}}"><h3>{{score.statusName}}</h3></td>
                    </tr>
                    <tr>
                        <td><h3>Moeilijkheid</h3></td>
                        <td><h3>{{score.difficulty}}</h3></td>
                    </tr>
                    <tr>
                        <td><h3>Tijd</h3></td>
                        <td><h3>{{score.time}}</h3></td>
                    </tr>
                </table>
                <div class="text-center" style="margin-top: 30px">
                    <a href="/scores/time/asc/0/{{score.name}}" class="btn btn-primary">Scoren</a>
                </div>
            </div>
          </div>
        <h1></h1>
    </div>
</div>
{% endblock %}