{% extends 'index.html' %}


{% block head %}
    Game

{% endblock %}

    
{% block title %}
4 Op een rij!
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-md-6">
        <table class="gametable">
            <thead>
                <tr> 
                    <form action="/game/{{score.id}}" id="auto-submit" method="POST">
                        <input type="hidden" name="column" id="columnId" value="">
                        {%for i in range(score.width)%}
                            <th>
                                {% if table.Table[0][i].value == 0 and score.status == 1 %}
                                    <button type="button" value="Add" onclick="setColumn({{i}})" name="{{i}}" class="btn btn-primary">Add</button>  
                                {% endif %}
                            </th>
                        {% endfor %}
                    </form>    
                </tr>
            </thead>
            <tbody>
                {%for row in range(score.height)%}
                    <tr>
                        {%for col in range(score.width)%}
                            <td class="value-{{table.Table[row][col].value}} marked-{{table.Table[row][col].marked}}"></td>
                        {%endfor%}
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h1>{{score.name}}</h1>
        <h3>Difficulty: {{score.difficulty}}</h3>
        <h3>status: {{score.statusName}}</h3>
        <h3>time: {{score.time}}</h3>
    </div>
</div>
{% endblock %}